.site-author-image {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  -webkit-animation:transform 15s linear infinite;
  padding: $site-author-image-padding;
  // max-width: $site-author-image-width;
  width: $site-author-image-width;
  height: $site-author-image-width;
  // height: $site-author-image-height;
  border: $site-author-image-border-width solid $site-author-image-border-color;
}

.site-author-name {
  margin: $site-author-name-margin;
  text-align: $site-author-name-align;
  color: $site-author-name-color;
  font-weight: $site-author-name-weight;
}

.site-description {
  margin-top: $site-description-margin-top;
  text-align: $site-description-align;
  font-size: $site-description-font-size;
  color: $site-description-color;
}

@-webkit-keyframes transform{
 
    0%{-webkit-transform:rotate(0deg);}
 
    25%{-webkit-transform:rotate(90deg);}
 
    50%{-webkit-transform:rotate(180deg);}
 
    75%{-webkit-transform:rotate(270deg);}
 
    100%{-webkit-transform:rotate(360deg);}
 
}