.headband {
  height: $headband-height;
  background: $headband-bg;
}
.ribbon {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
  width: 100%;
  display: -webkit-box;
  display: box;
  .li {
    height: 1px
    -webkit-box-flex: 1
    box-flex: 1
	}
  .red{
    background: #FF0000
  }
  .orange{
    background: #FF7F00
  }
  .yellow{
    background: #FFFF00
  }
  .green{
    background: #00FF00
  }
  .blue{
    background: #00FFFF
  }
  .blueness{
    background: #0000FF
  }
  .purple{
    background: #8B00FF
  }
}